.star{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 80px;
    transition: all .25s ease;
}

.star:active {
    transform: scale(0.75);
} 
.star:after {
    content:"";
    display: block;
    top: -5px;
    left: -5px;
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background-image: url("//cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/star.png");
    background-size: cover;
}

.star.belowchecked:after {
     content:"";
    display: block;
    top: -5px;
    left: -5px;
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% + 10px);
    background-image: url("//findicons.com/files/icons/1620/crystal_project/128/keditbookmarks.png");
    background-size: cover;
}